.calendar {
  width: 100%;
  max-width: 900px;
  /* height: 80vh; */
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.calendar-header h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1f2937;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.day-name {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
  color: #040911;
  background-color: #f0f4f8;
  border-radius: 4px;
}

.day-cell {
  position: relative;
  min-height: 100px;
  padding: 8px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.day-cell:hover {
  background-color: #bad5f1;
  color: black;
}
.day-number {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.not-current-month {
  background-color: #f9fafb;
  color: #aaa;
}

.today-highlight {
  background-color: #74a5f5;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

button{
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover{
  background-color: rgb(26, 226, 119);
}